In [1]:

class Estadisticos:
  def __init__(self, datos):
    self.datos=datos
  def media(self):
    return sum(self.datos)/len(self.datos)
  def mediana(self):
    self.datos.sort()
    variable=len(self.datos)
    if variable%2==0:
      print((self.datos[int(variable/2)]+self.datos[int(variable/2)-1])/2)
    else:
      print(self.datos[int(variable/2)-0.5])
  def varianza(self):
    media_x=self.media()
    vec=[(i-media_x)**2 for i in self.datos]
    return sum(vec)/(len(vec)-1)
  def desviacion_estandar(self):
     return self.varianza()**(1/2)
  def coeficiente_variacion(self):
    return self.desviacion_estandar()/self.media()

In [2]:
!pip install wooldridge

Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 9.4 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wooldridge) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wooldridge) (1.15.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

In [3]:
import wooldridge as wd

In [4]:
wag=wd.data("wage1")

In [5]:
wag=wd.data("wage1")

In [6]:
wag

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,15.00,16,14,2,0,1,1,2,0,0,...,0,0,0,1,1,0,0,2.708050,196,4
522,2.27,10,2,0,0,1,0,3,0,0,...,0,1,0,0,1,0,0,0.819780,4,0
523,4.67,15,13,18,0,0,1,3,0,0,...,0,0,0,0,1,0,0,1.541159,169,324
524,11.56,16,5,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,2.447551,25,1
525,3.50,14,5,4,1,1,0,2,0,0,...,0,0,0,1,0,1,0,1.252763,25,16

In [7]:
datos=wag[["wage","educ"]]

In [8]:
Est=Estadisticos(wag[["educ"]].values)

In [9]:
Est.media()

array([12.56273764])

In [11]:
Est.mediana()

[12.]

In [13]:
Est.desviacion_estandar()

array([2.7690224])

In [14]:
Est.coeficiente_variacion()

array([0.22041552])

In [15]:
Est.varianza()

array([7.66748506])

In [22]:
Esta=Estadisticos(wag[["wage"]].values)

In [23]:
Esta.media()

array([5.89610267])

In [24]:
Esta.mediana()

[3.27499998]

In [25]:
Esta.varianza()

array([13.63888436])

In [26]:
Esta.desviacion_estandar()

array([3.69308602])

In [27]:
Esta.coeficiente_variacion()

array([0.62636053])